.controller.custom{
    background-image: url(base.svg);
    background-repeat: no-repeat;
    height: 692px;
    width: 758px;
    transform: scale(1, 1);
    top: 1px;
    left: 1px;
}

.custom .triggers{
    width: 341px;
    height: 119px;
    position: absolute;
    left: 58px;
}

.custom .trigger {
    width:118px;
    height:119px;
    background: url(trigger.svg);
    background-repeat: no-repeat;
    opacity: 1;
}

.custom .trigger .pressed{
    .controller.custom{
    background-image: url(base.svg);
    background-repeat: no-repeat;
    height: 692px;
    width: 758px;
    transform: scale(1, 1);
    top: 1px;
    left: 1px;
}

.custom .triggers{
    width: 341px;
    height: 119px;
    position: absolute;
    left: 58px;
}

.custom .trigger {
    width:118px;
    height:119px;
    background: url(trigger.svg);
    background-repeat: no-repeat;
    opacity: 1;
}

.custom .trigger[data-value="0"] {
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .bumpers {
    width: 341px;
    height: 53px;
    left: 58px;
    position: absolute;
    top:80px;
}

.custom .bumper {
    width: 124px;
    height: 53px;
    background: url(bumper.svg);
    background-repeat: no-repeat;
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 216px;
    height: 36px;
    top: 150px;
    left: 191px;
}

.custom .back {
    background: url(start-select.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 36px;
    opacity: 0;
}
.custom .start {
    background: url(start-select.svg);
    background-repeat: no-repeat;
    background-position-x: 6px;
    width: 46px;
    height: 12px;
    opacity: 0;
}
.custom .back.pressed, .start.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .back {
    float: left;
    margin-right: -5px;
}

.custom .start {
    float: left;
}

.custom .abxy {
    position: absolute;
    width: 130px;
    height: 150px;
    top: 80px;
    left: 316px;
}

.custom .button {
    position: absolute;
    background: url(buttons.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: scale(1.03, 1.03);
}

.custom .button.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .b {
    background-position: -32px -32px;
    width: 32px;
    height: 32px;
    top: 63px;
    left: 58px;
}

.custom .a {
    background-position: 0px -32px;
    width: 32px;
    height: 32px;
    top: 94px;
    right: 76px;
}

.custom .y {
    background-position: -64px -32px;
    width: 32px;
    height: 32px;
    top: 32px;
    left: 22px;
}

.custom .x {
    background-position: -96px -32px;
    width: 32px;
    height: 32px;
    top: 63px;
    left: -13px;
}

.custom .sticks {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 196px;
    left: 136px;
}

.custom .stick {
    position: absolute;
    background: url(stick.svg);
    background-repeat: no-repeat;
    background-position: 0px 0;
    height: 58px;
    width: 58px;
}

.custom .stick.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    background-position: -60px 0px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: 0px;
    left: 129px;
}

.custom .dpad {
    position: absolute;
    width: 114px;
    height: 113px;
    top: 80px;
    left: 60px;
}

.custom .face {
    background: url(dpad.svg);
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}

.custom .face.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .face.up {
    background-position: 0px 0px;
    left: 18px;
    top: 23px;
    width: 39px;
    height: 57px;
}

.custom .face.down {
    background-position: -39px 0px;
    left: 30.5px;
    bottom: -3px;
    width: 24px;
    height: 57px;
}

.custom .face.left {
    background-position: -64px 0px;
    width: 40px;
    height: 55px;
    top: 42px;
    left: 6px;
}

.custom .face.right {
    background-position: -102px 0px;
    width: 40px;
    height: 55px;
    top: 42px;
    right: 33px;
}
}

.custom .trigger[data-value="0"] {
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .bumpers {
    width: 341px;
    height: 53px;
    left: 58px;
    position: absolute;
    top:80px;
}

.custom .bumper {
    width: 124px;
    height: 53px;
    background: url(bumper.svg);
    background-repeat: no-repeat;
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom .p0 {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.custom .p1 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.custom .p2 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.custom .p3 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom .arrows {
    position: absolute;
    width: 216px;
    height: 36px;
    top: 150px;
    left: 191px;
}

.custom .back {
    background: url(start-select.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 36px;
    opacity: 0;
}
.custom .start {
    background: url(start-select.svg);
    background-repeat: no-repeat;
    background-position-x: 6px;
    width: 46px;
    height: 12px;
    opacity: 0;
}
.custom .back.pressed, .start.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .back {
    float: left;
    margin-right: -5px;
}

.custom .start {
    float: left;
}

.custom .abxy {
    position: absolute;
    width: 130px;
    height: 150px;
    top: 80px;
    left: 316px;
}

.custom .button {
    position: absolute;
    background: url(buttons.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: scale(1.03, 1.03);
}

.custom .button.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .b {
    background-position: -32px -32px;
    width: 32px;
    height: 32px;
    top: 63px;
    left: 58px;
}

.custom .a {
    background-position: 0px -32px;
    width: 32px;
    height: 32px;
    top: 94px;
    right: 76px;
}

.custom .y {
    background-position: -64px -32px;
    width: 32px;
    height: 32px;
    top: 32px;
    left: 22px;
}

.custom .x {
    background-position: -96px -32px;
    width: 32px;
    height: 32px;
    top: 63px;
    left: -13px;
}

.custom .sticks {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 196px;
    left: 136px;
}

.custom .stick {
    position: absolute;
    background: url(stick.svg);
    background-repeat: no-repeat;
    background-position: 0px 0;
    height: 58px;
    width: 58px;
}

.custom .stick.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    background-position: -60px 0px;
}

.custom .stick.left {
    top: 0;
    left: 0;
}

.custom .stick.right {
    top: 0px;
    left: 129px;
}

.custom .dpad {
    position: absolute;
    width: 114px;
    height: 113px;
    top: 80px;
    left: 60px;
}

.custom .face {
    background: url(dpad.svg);
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
}

.custom .face.pressed {
    filter: brightness(0) saturate(100%) invert(16%) sepia(69%) saturate(4829%) hue-rotate(347deg) brightness(87%) contrast(82%);
    opacity: 1;
}

.custom .face.up {
    background-position: 0px 0px;
    left: 18px;
    top: 23px;
    width: 39px;
    height: 57px;
}

.custom .face.down {
    background-position: -39px 0px;
    left: 30.5px;
    bottom: -3px;
    width: 24px;
    height: 57px;
}

.custom .face.left {
    background-position: -64px 0px;
    width: 40px;
    height: 55px;
    top: 42px;
    left: 6px;
}

.custom .face.right {
    background-position: -102px 0px;
    width: 40px;
    height: 55px;
    top: 42px;
    right: 33px;
}
